main {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 0 50px;
    background-color: #F5F7FA;
}

header {
    font-weight: 700;
    font-size: 1.5rem;
    border-bottom: 2px solid #2A9D8F;
    color: #264653;
    padding: 20px 50px;
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #ffffff;
    border-radius: 8px;
}

header > img {
    width: 32px;
    height: 32px;
}

section {
    display: flex;
    gap: 20px;
}

/* Estilos para dividir las columnas */
app-housing-list {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(221, 225, 228, 0.5);
}

article {
    flex: 1;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(221, 225, 228, 0.5);
    overflow: hidden;
}

article img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(221, 225, 228, 0.5);
}

article p {
    margin-bottom: 10px;
    color: #264653;
    line-height: 1.5;
}

article > p:first-of-type {
    font-size: 2rem;
    font-weight: 700;
    color: #E76F51;
}

@media (max-width: 768px) {
    section {
        flex-direction: column;
    }

    app-housing-list,
    article {
        margin: 0;
    }
}
